body {
	background-image: url(../images/hp_background.jpg);
	background-size: cover;

}

.houses {
	width: 100px;
}

.character {
	border-style: solid;
	border-color: black;
	background-color: #FFFBDE;
	font-family: serif;
}

.hero {
	background-color: #FFF880;
}

.fighting {
	background-color: #FF534F;
}

#picking {
	opacity: 0.7;
	background-color: #99b4c7;
	width: 700px;
	height: 300px;
	margin: 0 auto;
	padding: 30px;
}

.theCenter {
	margin: 0 auto;
	padding: 30px;
}