body {
	background-image: url(../images/hp_background.jpg);
	background-size: cover;

}

#attack {
	background-color: #fff;
}

.houses {
	width: 100px;
}

.character {
	border-style: solid;
	border-color: black;
	background-color: white;
	font-family: serif;
}