body {
	background-image: url(../images/hp_background.jpg);
	background-size: cover;

}

@font-face {
	font-family: 'HP';
	src: url(../ParryHotter.ttf) format('truetype');
}

@font-face {
	font-family: 'Parsel';
	src: url(../parsel.ttf) format('truetype');
}

@font-face {
	font-family: 'Lumos';
	src: url(../WizardsMagic.ttf) format('truetype');
}

h1 {
	font-family: 'HP';
	float: left;
	color: #FFBC4F;
	font-size: 50px;
	margin: 20px;
	line-height: 150%;
	opacity: 0.7;
}

h2 {
	font-family: 'Lumos';
}

.houses {
	width: 80px;
}

.character {
	border-style: solid;
	border-color: black;
	background-color: #FFFBDE;
	font-family: serif;
}

.hero {
	background-color: #FFF880;
}

.fighting {
	background-color: #FF534F;
}

#picking {
	opacity: 0.7;
	background-color: #99b4c7;
	width: 550px;
	height: 250px;
	margin: 0 auto;
	padding: 30px;
}

.theCenter {
	margin: 0 auto;
	padding: 30px;
}

#attack {
	font-family: 'Lumos';
	font-size: 24px;
}

#restart {
	font-family: 'Lumos';
	font-size: 22px;
}

#whathappens {
	background-color: #99b4c7;
	font-family: sans-serif;
}

#winsloses {
	background-color: #99b4c7;
	opacity: 0.7;
	font-family: sans-serif;
	float: right;
	margin-right: 50px;
	margin-top: 20px;
	padding: 20px;

}